:root[color-mode="Light"] {
  --bg-color: #fff;
  --text-color: #000;
}
:root[color-mode="Dark"] {
  --bg-color: #000;
  --text-color: #fff;
}
:root {
  --view-gird-count: 4;
}

@font-face {
  font-family: "Goyang";
  src: url("/src/fonts/Goyang.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box;
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
body * {
  font-family: Goyang;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#App {
  margin: 1.5em auto;
  max-width: 1200px;
  column-gap: 1.5em;
}

.SearchResult {
  margin-top: 10px;
  display: grid;
  --view-gird-count: 4;
  grid-template-columns: repeat(var(--view-gird-count), minmax(250px, 1fr));
  grid-gap: 10px;
}

.SearchResult img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.SearchResult .item {
  background-color: #eee;
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
}

.SearchInput {
  width: 100%;
  font-size: 40px;
  padding: 10px 15px;
}

.ImageInfo {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.ImageInfo .title {
  display: flex;
  justify-content: space-between;
}

.ImageInfo .title,
.ImageInfo .description {
  padding: 5px;
}

.ImageInfo .content-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--bg-color);
  color: var(--text-color);
  border: 1px solid #eee;
  border-radius: 5px;
}

.ImageInfo .content-wrapper img {
  width: 100%;
  height: 50vh;
}

.light--hidden,
.dark--hidden {
  width: 10rem;
  height: 2rem;
}

.Loading {
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  top: 50%;
  left: 50%;
  margin-left: -2.5rem;
}

.spinner {
  border: 3px solid #f0f5e1;
  border-top: 3px solid rgba(44, 80, 241, 0.712);
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  animation: spin 1000ms linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 992px) {
  .SearchResult {
    --view-gird-count: 3;
  }
}
@media screen and (max-width: 768px) {
  .SearchResult {
    --view-gird-count: 2;
  }
  .ImageInfo .content-wrapper {
    position: fixed;
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .SearchResult {
    --view-gird-count: 1;
  }
  .ImageInfo .content-wrapper {
    width: 100%;
  }
}
